*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.mpb
*.~mm
*.groupproj.local
*.tvsconfig
*.local
*.identcache
*.rsm
*.~pas
*.~dfm
*.~ddp
*.o
*.ppu
*.dbg
*.or
*.lps
*.compiled
Win32/
Win64/
*.a
*.~inc
backup/
*.res
*.pas;1
*.pas;2
*.pas;3
*.pas;4
*.pas;5
*.pas;6
*.pas;7
*.pas;8
*.pas;9
*.log
test/
release/
*.obj
tools/MADrepo.txt
BurdockPaint.ini
backups/
notused/
/data/
/work/original/*.png
*.data
*.bpprj
source/*.exe
*.exe
*.zip
source/BuildRelease_x64.ps1
source/done.txt
source/BuildAndUpload.ps1
